{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}{{ result.name }}墓地{% endblock %}

{# このページに適用させたいスタイルシートを指定します #}
{% block header_scripts_add %}
{% endblock %}

{#ここから表示したい情報を記載します。#}
{% block page_content %}
    <div class="container">
        <br>
        <div class="row">
            <div class="col-sm-12">
                <!-- 検索 -->
                <form>
                    <div class="form-row align-items-center">
                        <div class="col-auto">
                            <label class="sr-only" for="inlineFormInput">name</label>
                            <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="霊園名" name="name" value="{{ name }}">
                        </div>
                        <div class="col-auto">
                            <label class="sr-only" for="inlineFormInputGroup">adress</label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                </div>
                                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="住所" name="adress" value="{{ adress }}">
                            </div>
                        </div>

                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary mb-2">検索</button>
                        </div>
                    </div>
                </form>
                <br>


                <div>
                  {% if graveyard_list == false %}
                    <p>
                      検索結果はありません。
                    </p>
                  {% else %}
                    <table>
                        {% for result in graveyard_list %}
                            <div class="card" style="width">
                                <div class="card-body">
                                    <h5 class="card-title">{{ result.graveyard_name }}</h5>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">住所：{{ result.graveyard_adress }}</li>
                                    <li class="list-group-item">TEL：{{ result.graveyard_telephone }}</li>
                                </ul>
                                <div class="card-body">
                                    <li class="list-group-item">

                                        {% if result.graveyard_url | length > 3 and result.graveyard_url is not empty %}
                                            URL：<a href="{{ result.graveyard_url }}" class="card-link">{{ result.graveyard_url }}</a>
                                        {% else %}
                                            URLはありません
                                        {% endif %}
                                    </li>
                                </div>
                            </div><br>
                        {% endfor %}
                    </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}{% endblock %}
