{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}TOP{% endblock %}

{# 適用させたいスタイルシートのパスを指定します #}
{% block header_scripts_add %}
{% endblock %}

{#ここから表示したい情報を記載します。#}
{% block page_content %}
    <div class="page-header text-center">
        <h1>終活</h1>
    </div>
        <div class="box">
            <div class="row">
                <div>
                    <h2 class="text-center">エンディングノートタイムライン</h2>

                        {% for item in list %}
                            {% if item.is_public %}
                                <ul class="card bg-secondary mb-3 justify-content-center">                            
                                    <li class="list-unstyled card-header text-white">{{ item.name}}さん</li>
                                    <li class="list-group-item card-text">歴史：{{ item.my_history}}</li>
                                    <li class="list-group-item card-text">友達：{{ item.my_friends_relatives}}</li>
                                    <li class="list-group-item card-text">資産：{{ item.my_property}}</li>
                                    <li class="list-group-item card-text">望み：{{ item.my_desire}}</li>
                                    <li class="list-group-item card-text">どんな葬式：{{ item.my_funeral}}</li>
                                    <li class="list-group-item card-text">コメント：{{ item.my_comment}}</li>
                                    <li class="list-group-item card-text">いいね：{{ item.favorite}}</li>
                                </ul>
                            {% endif %}
                        {% endfor %}
                        
                </div>
            </div>
        </div>
{% endblock %}

{#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}{% endblock %}