{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}TOP{% endblock %}

{# 適用させたいスタイルシートのパスを指定します #}
{% block header_scripts_add %}
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<script src="https://kit.fontawesome.com/ffdecdd0b6.js"></script>
{% endblock %}

{#ここから表示したい情報を記載します。#}
{% block page_content %}
    <div class="page-header text-center">
        <h1>終活</h1>
    </div>
        <div class="box">
            <div class="row">
                <div>
                    <h2 class="text-center">エンディングノートタイムライン</h2>
                        <div class="card-columns">
                        {% for item in list %}
                            {% if item.is_public %}
                                <ul class="card bg-secondary mb-3">                            
                                    <li class="list-unstyled card-header text-white">{{ item.name}}さん</li>
                                    <li class="list-group-item card-text">歴史：{{ item.my_history}}</li>
                                    <li class="list-group-item card-text">友達：{{ item.my_friends_relatives}}</li>
                                    <li class="list-group-item card-text">資産：{{ item.my_property}}</li>
                                    <li class="list-group-item card-text">望み：{{ item.my_desire}}</li>
                                    <li class="list-group-item card-text">どんな葬式：{{ item.my_funeral}}</li>
                                    <li class="list-group-item card-text">コメント：{{ item.my_comment}}</li>
                                    <li class="list-group-item card-text">いいね：
                                        <button class="btn btn-dark countup" id="{{item.user_id}}" type="button" name="count"><i class="fas fa-pray"></i>{{ item.favorite}}</button>
                                    </li>
                                </ul>
                            {% endif %}
                        {% endfor %}
                        </div>
                        
                </div>
            </div>
        </div>
{% endblock %}

{#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>        
$(function(){
  $('.countup').click(function(){
      var target = $(this).attr('id')
    $.ajax({
            type: 'GET',
            url: '/favorite/'+ $(this).attr('id'), //post送信を受けとるphpファイル
        }).done(function(data){
            $("#"+target).html('<i class="fas fa-pray"></i>'+ data);
        }).fail(function(msg) {
            console.log('Ajax Error');
        });
    });
});</script>
{% endblock %}