{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}{{ result.name }}斎場{% endblock %}

{# このページに適用させたいスタイルシートを指定します #}
{% block header_scripts_add %}
{% endblock %}

{#ここから表示したい情報を記載します。#}
{% block page_content %}
    <div class="container">
        <br>
        <div class="row">
            <div class="col-sm-12">
                <!-- 検索 -->        <!-- 検索 -->
                <form>
                    <div class="form-row align-items-center">
                        <div class="col-auto">
                            <label class="sr-only" for="inlineFormInput">name</label>
                            <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="斎場名" name="name" value="{{ name }}">
                        </div>
                        <div class="col-auto">
                            <label class="sr-only" for="inlineFormInputGroup">adress</label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                </div>
                                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="住所" name="adress" value="{{ adress }}">
                            </div>
                        </div>

                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary mb-2">検索</button>
                        </div>
                    </div>
                </form>
                <br>

                <div>
                    <table>
                        {% for result in funeral_hall_list %}
                            <div class="card" style="width">
                                <div class="card-body">
                                    <h4 class="card-title">{{ result.funeral_hall_name }}</h4>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">住所：{{ result.funeral_hall_adress }}</li>
                                    <li class="list-group-item">TEL：{{ result.funeral_hall_telephone }}</li>
                                </ul>
                                <div class="card-body">
                                    <li class="list-group-item">

                {% if result.funeral_hall_url | length > 3 and result.funeral_hall_url is not empty %}
                URL：<a href="{{result.funeral_hall_url}}" class="card-link">{{result.funeral_hall_url}}</a>
                {% else %}
                URLはありません
                {% endif %}
              </li>
            </div>
          </div><br>
        {% endfor %}
      </table>
    </div>
{% endblock %}

{#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}{% endblock %}
