{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}TOP{% endblock %}

{# 適用させたいスタイルシートのパスを指定します #}
{% block header_scripts_add %}
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ffdecdd0b6.js"></script>
    <style>
        .image-round1 {
            border-radius: 50%;
        }

    </style>
{% endblock %}

{#ここから表示したい情報を記載します。#}
{% block page_content %}
    <div class="container">
        <br>
        <div class="row">
            <div class="col-sm-12">
                <div class="page-header text-center">
                    <h1>エンディングノートタイムライン</h1>
                </div>
                <hr>
                <br>
                <div class="container">
                    <div class="box">
                        <div class="row">
                            <div class="col-md-12">
                                <div>
                                    <div class="col">
                                        {% for item in list %}
                                            {% if item.is_public %}
                                                <div class="col-sm-12 card">
                                                    <div class="row">
                                                        　
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-2">
                                                            <img width="80" class="image-round1" src="{{ item.img }}" alt="{{ item.user_set_name }} さん">
                                                        </div>
                                                        <div class="col-md-10">
                                                            <i class="fas fa-user"></i> {{ item.user_set_name }} さん<br>
                                                            <i class="fas fa-globe"></i> {{ item.location }} <br>
                                                            <i class="fas fa-birthday-cake"></i> {{ item.birthday | date("Y年m月d日") }}
                                                        </div>
                                                        <div class="col">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="" class="col-sm-2 col-form-label"><i class="fas fa-history" aria-hidden="true"></i> 人生の歴史</label>
                                                        <div class="col-sm-10">
                                                            {{ item.my_history | nl2br }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="" class="col-sm-2 col-form-label"><i class="fas fa-user-friends" aria-hidden="true"></i> 親族や友人知人</label>
                                                        <div class="col-sm-10">
                                                            {{ item.my_friends_relatives }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="" class="col-sm-2 col-form-label"><i class="fa fa-home" aria-hidden="true"></i> 財産</label>
                                                        <div class="col-sm-10">
                                                            {{ item.my_property }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="" class="col-sm-2 col-form-label"><i class="fa fa-hospital-o" aria-hidden="true"></i> 終末期の介護や医療に関する要望</label>
                                                        <div class="col-sm-10">
                                                            {{ item.my_desire }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="" class="col-sm-2 col-form-label"><i class="far fa-comment" aria-hidden="true"></i> 葬儀に関する要望 </label>
                                                        <div class="col-sm-10">
                                                            {{ item.my_funeral }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="" class="col-sm-2 col-form-label"><i class="fas fa-info-circle" aria-hidden="true"></i> その他</label>
                                                        <div class="col-sm-10">
                                                            {{ item.my_comment |nl2br}}
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="" class="col-sm-2 col-form-label"></label>
                                                        <div class="col-sm-10">
                                                            <button class="btn btn-dark countup" id="{{ item.user_id }}" type="button" name="count"><i class="fas fa-pray"></i> {{ item.favorite }}</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br>
                                                <hr>
                                                <br>
                                            {% endif %}
                                        {% endfor %}
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
        $(function () {
            $('.countup').click(function () {
                var target = $(this).attr('id')
                $.ajax({
                    type: 'GET',
                    url: '/favorite/' + $(this).attr('id'), //post送信を受けとるphpファイル
                }).done(function (data) {
                    $("#" + target).html('<i class="fas fa-pray"></i> ' + data);
                }).fail(function (msg) {
                    console.log('Ajax Error');
                });
            });
        });</script>
{% endblock %}
